.container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.one {
    z-index: 1;
    width: 30%;
    overflow: visible;
}

.two {
    z-index: 2;
    width: 70%-600;
}

.three {
    z-index: 3;
    padding-top: 100px;
    text-align: center;
    width: 600px;
    color: #fff;
    overflow-x: visible;
}

.burger {
    width: 100%;
}

.burger_1 {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .one {
      display: none;
    }
    .two {
        width: 50%;
    }
    .three {
        width: 50%;
    }
  }